---
import { FAQS } from '../../data/landing-page';
---

<section class="section center" id="questions">
  <h2>Questions before you begin.</h2>

  <div class="faq">
    {FAQS.map((faq) => (
      <div class="faq-row">
        <h3>{faq.question}</h3>
        <p>{faq.answer}</p>
      </div>
    ))}
  </div>
</section>
