
---
import SiteLayout from '../layouts/SiteLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import AudienceSection from '../components/sections/AudienceSection.astro';
import SessionVideoSection from '../components/sections/SessionVideoSection.astro';
import BenefitsSection from '../components/sections/BenefitsSection.astro';
import TestimonialsSection from '../components/sections/TestimonialsSection.astro';
import FaqSection from '../components/sections/FaqSection.astro';
import FinalCtaSection from '../components/sections/FinalCtaSection.astro';
import LegalDisclaimer from '../components/LegalDisclaimer.astro';
import { PAGE_TITLE, SNAPSHOT_ROBOTS_DIRECTIVE } from '../data/site';
---

<SiteLayout title={PAGE_TITLE} robots={SNAPSHOT_ROBOTS_DIRECTIVE}>
<div class="site">
  <SiteHeader />

  <main class="page" id="main-content">
    <HeroSection />

    <AudienceSection />

    <SessionVideoSection />

    <BenefitsSection />

    <TestimonialsSection />

    <FaqSection />

    <FinalCtaSection />

    <LegalDisclaimer />
  </main>

  <SiteFooter />
</div>
</SiteLayout>
