
---
import SiteLayout from '../layouts/SiteLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import AudienceSection from '../components/sections/AudienceSection.astro';
import SessionVideoSection from '../components/sections/SessionVideoSection.astro';
import BenefitsSection from '../components/sections/BenefitsSection.astro';
import TestimonialsSection from '../components/sections/TestimonialsSection.astro';
import FaqSection from '../components/sections/FaqSection.astro';
import FinalCtaSection from '../components/sections/FinalCtaSection.astro';
import LegalDisclaimer from '../components/LegalDisclaimer.astro';
import { PAGE_TITLE } from '../data/site';
---

<SiteLayout title={PAGE_TITLE}>
<main class="page" id="main-content">
  <div class="site">
    <SiteHeader />

    <HeroSection />

    <AudienceSection />

    <SessionVideoSection />

    <BenefitsSection />

    <TestimonialsSection />

    <FaqSection />

    <FinalCtaSection />

    <LegalDisclaimer />

    <SiteFooter />
  </div>
</main>
<script src="../scripts/main.js"></script>
</SiteLayout>
